<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <div v-show="show">
        姓<input v-model="firstName" /> 名<input v-model="lastName" />
        <div>{{ fullName + ' ' + count }}</div>
        <ul>
          <li v-for="item in list">{{ item }}</li>
        </ul>
      </div>
      <button @click="handleClick">toggle</button>
    </div>
    <script>
      new Vue({
        el: '#root',
        data: {
          firstName: '1',
          lastName: '2',
          count: 0,
          show: true,
          list: [1, 2, 3]
        },
        computed: {
          fullName: function() {
            return this.firstName + ' ' + this.lastName
          }
        },
        watch: {
          fullName: function() {
            this.count++
          }
        },
        methods: {
          handleClick: function() {
            this.show = !this.show
          }
        }
      })
    </script>
  </body>
</html>
