<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <div><input v-model="inputValue" /> <button @click="handleSubmit">submit</button></div>
      <ul>
        <todo-item
          v-for="(item, index) in list"
          :content="item"
          :key="index"
          :index="index"
          @delete="handleDelete"
        ></todo-item>
      </ul>
    </div>

    <script>
      Vue.component('todo-item', {
        props: ['content', 'index'],
        template: '<li @click="handleClick">{{content}}</li>',
        methods: {
          handleClick: function() {
            this.$emit('delete', this.index)
          }
        }
      })

      // var todoItem = {
      //   template: '<li>item</li>'
      // }

      new Vue({
        el: '#root',
        // components: {
        //   'todo-item': todoItem
        // },
        data: {
          inputValue: '',
          list: []
        },
        methods: {
          handleSubmit: function() {
            if (this.inputValue.trim() != '') {
              this.list.push(this.inputValue)
              this.inputValue = ''
            }
          },
          handleDelete: function(index) {
            this.list.splice(index, 1)
          }
        }
      })
    </script>
  </body>
</html>
